body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    color: #222;
    background: #efefef;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: inherit;
}



.section{
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 66.1%;
}

.span_1_of_3{
    width: 32.2%;
}



/*Ecabezado y Navegacion*/


header{
    width: 100%;
    background: #FF2D00;
    padding: 1%;
}

header p{
    text-align: center;
}

nav{
    width: 100%;
    margin-bottom: 1em;
    background: #000000;
}

.logo{
    width: 100px;
    display: block;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s;
}

.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
}

.nav-item:hover{
    background: #FF2D00;
    cursor: pointer;
}

.menu-bar{
    width: 100%;
    box-sizing: border-box;
    background: #2d2d2d;
    text-align: left;
    padding: 15px 20px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    display: none;
}

.hamburger-icon{
    float: right;
    clear: both;
    margin-top: -5px;
    font-size: 1.4em;
}

/*Publicaciones del Blog*/

.container{
    max-width: 1020px;
    margin:0 auto;
    padding: 20px;

}

.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}

.blog-content{
    font-size: 1em;
    border-left: 5px solid #000000;
    padding-left: 15px;
}

.side-content{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0;
}

.blog-tittle{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;
}

.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color: #0841a8;
    font-style: italic;
    transition: all 0.4s;
}

.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}



/*Boton*/
.button{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #FF2D00;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
}

.button:hover{
    background: #be2300;
}


/*Footer*/
footer{
    width: 100%;
    float: right;
    background: #141414;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}

footer p{
    margin: auto;
}

/*Responsive*/

/*@media screen and (max-width: 56.25em){
    .col{
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3{
        width: 100%;
    }

    .side-post{
        width: 42%;
        float: left;
        margin: -2% 0 1% 1.6%;
    }
}
*/